@charset "utf-8";
.title1 {
	font-size: xx-large;
	color: #0500FF;
	text-align: center;
	text-decoration: underline;
}


.main1 {
	font-size: large;
	text-align: right;
	text-decoration: underline;
	color: #D800FF;
}
.main2 {
	color: #00FF3C;
	font-size: large;
	text-decoration: underline;
	text-align: center;
}
#caption img {
	text-align: right;




}
